#dashboard {
    width: 100%;
    flex-grow: 1;
    display: flex;
    position: relative;
}

#group-panel {
    height: 100%;
    min-width: 180px;
    border-right: 1px solid #777;
    display: flex;
    flex-direction: column;
    .groups-header {
        display: flex;
        width: 100%;
        padding: 10px;
        box-sizing: border-box;
        border-bottom: 1px solid #777;
        label {
            user-select: none;
            font-family: 'Jost';
            font-size: 0.9rem;
            color: #fff;
            margin-right: auto;
        }
        img {
            user-select: none;
            pointer-events: none;
        }
        .add-group {
            height: 100%;
            aspect-ratio: 1;
            border-radius: 50%;
            filter: invert(0.7);
        }
        .add-group:hover {
            filter: invert(1);
        }
    }
    .groups-body {
        flex-grow: 1;
        display: flex;
        flex-direction: column;
        padding: 8px;
        box-sizing: border-box;
        .group {
            width: 100%;
            padding: 3px 5px 3px 5px;
            box-sizing: border-box;
            display: flex;
            justify-content: flex-end;
            border: 1px solid transparent;
            transition: background-color 0.3s ease;
            label {
                pointer-events: none;
                user-select: none;
                text-align: right;
                font-family: 'Jost';
                font-size: 1rem;
                color: #fff;
            }
        }
        .group:hover {
            background-color: #77777777;
        }
        .group:focus {
            border: 1px solid #fff;
            outline: 0;
        }
    }
    .notes-header {
        display: flex;
        width: 100%;
        height: fit-content;
        padding: 10px;
        box-sizing: border-box;
        border-bottom: 1px solid #777;
        gap: 10px;
        label {
            user-select: none;
            font-family: 'Jost';
            font-size: 0.9rem;
            color: #fff;
            margin-right: auto;
        }
        img {
            user-select: none;
            pointer-events: none;
        }
        .exit-group,
        .add-note {
            height: 100%;
            aspect-ratio: 1;
            border-radius: 50%;
            filter: invert(0.7);
        }
        .exit-group:hover,
        .add-note:hover {
            filter: invert(1);
        }
    }
    .notes-body {
        flex-grow: 1;
        display: flex;
        flex-direction: column;
        padding: 8px;
        box-sizing: border-box;
        .note {
            width: 100%;
            padding: 3px 5px 3px 5px;
            box-sizing: border-box;
            display: flex;
            justify-content: flex-end;
            border: 1px solid transparent;
            transition: background-color 0.3s ease;
            label {
                pointer-events: none;
                user-select: none;
                text-align: right;
                font-family: 'Jost';
                font-size: 1rem;
                color: #fff;
            }
        }
        .note:hover {
            background-color: #77777777;
        }
        .note:focus {
            border: 1px solid #fff;
            outline: 0;
        }
    }
}

#notes-panel {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    .note-tabs {
        width: 100%;
        padding: 6px 6px 0 6px;
        box-sizing: border-box;
        min-height: 30px;
        display: flex;
        .note-tab {
            border: 1px solid #777;
            padding: 3px 8px 3px 8px;
            box-sizing: border-box;
            font-family: 'Jost';
            font-size: 0.8rem;
            color: #fff;
        }
        .note-tab.active {
            background-color: #77777777;
        }
    }
    .note-view {
        flex-grow: 1;
        overflow-x: hidden;
        overflow-y: auto;
        background-color: transparent;
        font-family: 'Jost';
        font-size: 1rem;
        color: #fff;
        outline: none;
        resize: none;
        padding: 16px 16px 0 16px;
        box-sizing: border-box;
    }
}